.Add_Route {
	color: #fff;
	background: #3598dc;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: none;
}
.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 1050px;
	margin: 0px auto;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(129, 110, 236, 0.3);
	padding: 50px;
}
.signup-form h2  {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr  {
	margin: 0 -30px 20px;
}    
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #3598dc;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #2389cd !important;
	outline: none;
}
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #3598dc;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}



/* function Add_Route() {
  return (
    <div className="Add_Route" class="">

    <div class="Add_Route row m-1">
        <div class="col-md-12">


   <div class="signup-form">
    <form action="" method="post">
		<h2>Add New Route</h2>
		<p>Please fill in this form to create bus routes!</p>
		<hr/>
        <div class="form-group">
            <div class="row">
                <div class="col"><input type="text" class="form-control" name="routeNo" placeholder="RouteNo" required="required"/></div>
            </div>
        </div>

        <div class="form-group">
			<div class="row">
				<div class="col-6"><input type="text" class="form-control" name="startAt" placeholder="Start At" required="required"/></div>
				<div class="col-6"><input type="text" class="form-control" name="stopAt" placeholder="Stop At" required="required"/></div>
			</div>        	
        </div>

        <div class="form-group">
			<div class="row">
				<div class="col-4"><input type="text" class="form-control" name="fullTime" placeholder="Full Time" required="required"/></div>
				<div class="col-4"><input type="text" class="form-control" name="fullPrice" placeholder="Full Price" required="required"/></div>
                <div class="col-4"><input type="text" class="form-control" name="fullDistance" placeholder="Full Distance" required="required"/></div>
			</div>        	
        </div>
        <hr />

        <div class="form-group">
			<div class="row">
				<div class="col"></div>
			</div> 
            <div class="row">
				<div class="col"></div>
			</div> 
            <div class="row">
				<div class="col"></div>
			</div>        	
        </div>
		
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Create</button>
        </div>
    </form>
	<div class="hint-text">Tiketz <a href="#"><i>Smart Travelling for Smart Lifestyle</i></a></div>
</div>

    </div>
    
    </div>
    </div>
  );
} */