.Bus_List {
	color: rgb(28, 4, 56);
	
}

.box4{
	margin-top: 180px;
	background-color: #2389cd;
	padding: 30px;
}*/

.form-control, .btn {        
	border-radius: 2px;
}

.login-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #3598dc;
	border: none;
	outline: none !important;
}
.login-form .btn:hover, .login-form .btn:focus {
	background: #2389cd;
}